/*
 *= require spree/frontend
*/

.return-request-printout-divider {
  border: 4px dashed black;
  margin-bottom: 3em;
}

.printable-return-form-table,
.printable-return-form-table-meta-info ,
.printable-returns-address-label {
  width: 600px;
  margin: 0 auto;
}

.printable-return-form-table-meta-info tbody td ,
.printable-return-form-table-meta-info tbody tr {
  border-bottom: 0;
  border-right: 0;
}

.printable-return-form-table-meta-info tbody tr td:nth-of-type(1) {
  width: 10em;
}

.printable-return-form-table tbody td:nth-of-type(1) ,
.printable-return-form-table tbody td:nth-of-type(2) {
  border-right: 1px solid gray;
}

.printable-return-form-table {
  margin-bottom: 3em;
}

.printable-returns-address-label-return-address {
  float: left;
}

.printable-returns-address-label-postage-necessary {
  float: right;
  text-align: right;
}

.printable-returns-address-label-address {
  clear: both;
  font-size: 1.5em;
  left: 33%;
  line-height: 1.3em;
  position: relative;
}
