<% content_for :head do %>
  <%= render partial: 'labels_print_styles' %>
<% end %>

<div class="return-request-printing-instructions">
  <h1>Return Form and Address Labels</h1>

  <p>Print out this page and cut along the dotted lines.</p>

  <p>Fill out the Return Form to indicate which items you are returning, and how many, and include it inside the box with the items you are returning.</p>

  <p>Please place the Address Label on outside of the box.</p>
</div>

<hr class="return-request-printout-divider" />

<%= render partial: 'printable_return_form' %>

<hr class="return-request-printout-divider" />

<%= render partial: 'printable_address_label' %>
